{% if page.mediaplayer == true %}
<script>
$('audio,video').mediaelementplayer();
</script>
{% endif %}

<script src="{{ site.url }}{{ site.baseurl }}/assets/js/javascript.min.js"></script>

{% if page.eventsCal == true %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
	<script>
		$(function() {
			$('#calendar').fullCalendar({
				height: 'auto',
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'listYear,listWeek'
				},
				views: {
					listYear: { buttonText: 'All' },
					listWeek: { buttonText: 'Week' }
				},
				defaultView: 'listYear',
				navLinks: true,
				editable: false,
				events: '{{ site.url }}{{ site.baseurl }}/events.json'
			});
		});
	</script>
{% endif %}


{% if page.header.image_fullwidth %}
<script>
    $("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
    $("#masthead-with-text").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122460474-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-122460474-1');
</script>
