<li>
  <a href="https://technl.ca/job/operations-coordinator/">
    Operations Coordinator - techNL
  </a>
</li>
<li>
  <a href="https://job-boards.greenhouse.io/colabsoftware/jobs/4680829008">
    Field Marketing Manager - CoLab
  </a>
</li>
<li>
  <a href="https://job-boards.greenhouse.io/colabsoftware/jobs/4674583008">
    Engineering Manager - CoLab
  </a>
</li>
<li>
  <a href="https://job-boards.greenhouse.io/colabsoftware/jobs/4672987008">
    Strategic Customer Success Manager - CoLab
  </a>
</li>
<li>
  <a href="https://job-boards.greenhouse.io/colabsoftware/jobs/4747604008">
    Multimedia Producer - CoLab
  </a>
</li>
<li>
  <a href="https://job-boards.greenhouse.io/colabsoftware/jobs/4747652008">
    Business Development Representative - CoLab
  </a>
</li>
<li>
  <a href="https://www.semltd.ca/about-us/employment#open">
    Data Scientist - SEM
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/posts/studyandstaynl_business-data-analyst-activity-7341852561445994497-JN7M/">
    Business Data Analyst - Study and Stay NL Program
  </a>
</li>
<li>
  <a href="https://secure.collage.co/jobs/heyorca/53892">
    Product Designer - HeyOrca
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/posts/atlantic-xl-inc%2E_atlantic-xl-business-development-lead-activity-7337896723693887490-BrrP">
    Business Development Lead - Atlantic XL
  </a>
</li>
<li>
  <a href="https://cdn.prod.website-files.com/645c0fb5968c7871d35b438b/68432db5b563545d127afe41_MeshAI.DE.JD.250606.pdf">
    Director of Engineering - MeshAI
  </a>
</li>
<li>
  <a href="https://venor.ca/opportunity/cyber-security-specialist/">
    Cyber Security Specialist - Keyin College
  </a>
</li>
<li>
  <a href="https://venor.ca/opportunity/hr-operations-specialist/">
    HR Operations Specialist - Keyin College
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/details/Verafin---Sales-Development-Representative_R0022972?q=verafin">
    Sales Development Representative - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/details/Verafin---Project-Manager--SMB-_R0022973?q=verafin">
    Project Manager - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/details/Verafin---Senior-Software-Developer--Data-Integration-_R0022631?q=verafin">
    Senior Software Developer (Data Integration) - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/details/Verafin---Senior-Software-Developer--Data-Platform-_R0022401?q=verafin">
    Senior Software Developer (Data Platform) - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/details/Verafin---Enterprise-Software-Sales-Professional_R0022599?q=verafin">
    Enterprise Software Sales Professional - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://nasdaq.wd1.myworkdayjobs.com/en-US/Global_External_Site/job/Canada---St-Johns---Newfoundland--Labrador/R0021699-Verafin---Cloud-Developer--Evergreen-_R0022636?q=verafin">
    Cloud Developer - Nasdaq Verafin
  </a>
</li>
<li>
  <a href="https://ca.indeed.com/cmp/Amal-Youth-and-Family-Centre/jobs?jk=c819ec0da9d311b8">
    Automation &amp; Systems Integration Specialist - Amal Youth and Family Centre
  </a>
</li>
<li>
  <a href="https://ca.indeed.com/cmp/Amal-Youth-and-Family-Centre/jobs?jk=8f8920a1a86071e2">
    Community Engagement Specialist - Amal Youth And Family Centre
  </a>
</li>
<li>
  <a href="https://ca.indeed.com/cmp/Amal-Youth-and-Family-Centre/jobs?jk=43e71a6c14529d91">
    Industry Engagement Specialist - Amal Youth and Family Centre
  </a>
</li>
<li>
  <a href="https://associationfornewcanadians.bamboohr.com/careers/214">
    Employer Engagement Officer - Association For New Canadians
  </a>
</li>
<li>
  <a href="https://strobeltek.com/careers/">
    Engineer/Technician (Prototype Development) - StrobelTEK
  </a>
</li>
<li>
  <a href="https://strobeltek.com/careers/">
    Mid Electrical/Software Engineer - StrobelTEK
  </a>
</li>
<li>
  <a href="https://strobeltek.com/careers/">
    Mid Mechanical/Electrical Engineer - StrobelTEK
  </a>
</li>
<li>
  <a href="https://strobeltek.com/careers/">
    Senior Software Developer - StrobelTEK
  </a>
</li>
<li>
  <a href="https://ca.indeed.com/jobs?q=software&amp;l=St.%20John%27s%2C%20NL&amp;radius=25&amp;vjk=59ecf139b0c1ef40">
    AI developer/Data Scientist - Sparrow Acoustics
  </a>
</li>
<li>
  <a href="https://vision33.bamboohr.com/careers/75">
    Office &amp; Administrative Associate - Vision33
  </a>
</li>
<li>
  <a href="https://www.hiring.gov.nl.ca/job-details/31244">
    Immigration Program Development Office - Government of Newfoundland and Labrador
  </a>
</li>
<li>
  <a href="https://www.compusult.com/careers">
    Procurement &amp; Marketing Coordinator - Compusult
  </a>
</li>
<li>
  <a href="https://www.compusult.com/careers">
    Graphic Designer/Developer - Compusult
  </a>
</li>
<li>
  <a href="https://www.compusult.com/careers">
    Software Developers - Compusult
  </a>
</li>
<li>
  <a href="https://trophiai.bamboohr.com/careers/24">
    Data Scientist - trophi.ai
  </a>
</li>
<li>
  <a href="https://ca.indeed.com/viewjob?jk=a1f15dbe8daccb05">
    Content Coordinator/Designer - Launch Media Co.
  </a>
</li>
<li>
  <a href="https://c-core.ca/wp-content/uploads/sites/5/2025/05/Intermediate-Senior-Software-Developer.pdf">
    Intermediate/Senior Software Developer - C-Core
  </a>
</li>
<li>
  <a href="https://c-core.ca/wp-content/uploads/sites/5/2025/05/Senior-Research-Engineer-Scientist.pdf">
    Senior Research Engineer/Scientist - C-Core
  </a>
</li>
<li>
  <a href="https://careers.newfoundlandpower.com/default">
    Supervisor IT Infrastructure - Newfoundland Power
  </a>
</li>
<li>
  <a href="https://www.spellbook.legal/careers?ashby_jid=746a8e6f-7c8c-4428-be5d-ca0c9ada0dc4">
    Product Engineer - Spellbook
  </a>
</li>
<li>
  <a href="https://www.spellbook.legal/careers?ashby_jid=381788d0-507c-4232-b9ca-8c5b39070276">
    Senior Software Engineer - Spellbook
  </a>
</li>
<li>
  <a href="https://rayagency.ca/career-opportunities/accountdirector/">
    Account Director - Ray Creative Agency
  </a>
</li>
<li>
  <a href="https://rayagency.ca/career-opportunities/account-manager-social/">
    Account Manager / Social Media Lead - Ray Creative Agency
  </a>
</li>
