<aside>
	<div class="panel radius">
		<h3>Important Links</h3>
		<ul class="side-nav" role="navigation" >
			<li role="menuitem"><a href="https://join.slack.com/t/ctsnl/shared_invite/enQtNzE5Mzc1OTA3ODI2LTdhODg1ZTQ4YTMwNDRkYzI2OWZjOTZmYWZjNjA3N2QzMTRiZWEyNmI0MTRmYjNjMDFhZGUxNzlhY2I5YjEwMTk">Join Slack</a></li>
			<li role="menuitem"><a href="https://www.meetup.com/Computer-Technology-Society-of-Newfoundland-and-Labrador/">Meetup Information</a></li>
			<li role="menuitem"><a href="https://github.com/CTS-NL">GitHub Organization</a></li>
		</ul>
	</div>
	<div class="panel radius">  
		<h3>Community Groups</h3>
		<ul class="side-nav" role="navigation" >
			<li role="menuitem"><a href="https://www.facebook.com/blockchainnl/">Blockchain NL</a></li>
			<li role="menuitem"><a href="https://www.canadalearningcode.ca/chapters/st-johns/">Canada Learning Code St. John's</a></li>
			<li role="menuitem"><a href="http://fllnl.org/">First Lego League NL</a></li>
			<li role="menuitem"><a href="https://gdnl.ca">GDNL</a></li>
			<li role="menuitem"><a href="http://hacking-health.org/st-johns-nl/">Hacking Health St. John's</a></li>
			<li role="menuitem"><a href="https://muncompsci.ca/">MUN Computer Science Society</a></li>
			<li role="menuitem"><a href="https://www.meetup.com/NDevMeetup/">NDev</a></li>
			<li role="menuitem"><a href="https://daniellequinn.github.io/RBarMUN/">R-Bar at Memorial University</a></li>
		</ul>
	</div>
	<div class="panel radius">
		<h3>Resources</h3>
		<ul class="side-nav" role="navigation" >
			<li role="menuitem"><a href="http://bsidesstjohns.com/">BSides St. John's</a></li>
			<li role="menuitem"><a href="https://www.thethingsnetwork.org/community/st-johns-nl/">The Things Network St. John's</a></li>
		</ul>
	</div>
</aside>
