---
layout: page
title: "Job Postings"
teaser: ""
header:
    image: "logo.png"
    pattern: "header-texture.png"
permalink: "/jobs/"
---

<p class="teaser" itemprop="description">
	Last updated {{ site.data['jobs-sorted'].updateDate | date: "%B %d, %Y" }} and updated every Friday.
</p>
<hr/>
<div class="jobs">
	<h3>New Postings</h3>
	{% for entry in site.data['jobs-sorted'].jobs %}
		{% if entry.jobs.current != empty %}
			{%include company_job_postings company=entry.company jobs=entry.jobs.current %}
		{% endif %}
	{% endfor %}

	<h3>Previous Postings</h3>
	{% for entry in site.data['jobs-sorted'].jobs %}
		{% if entry.jobs.previous != empty %}
			{% include company_job_postings company=entry.company jobs=entry.jobs.previous %}
		{% endif %}
	{% endfor %}
</div>
