---
layout: page
title: "Job Postings"
teaser: ""
header:
    image: "logo.png"
    pattern: "header-texture.png"
permalink: "/jobs/"
---

<p class="teaser" itemprop="description">
    Last updated {{ 'now' | date: "%b %d, %Y" }} and updated every Thursday.
</p>

{% for entry in site.data.jobs %}
    <h4><a href="{{ site.data.companies[entry.company].url }}">{{ site.data.companies[entry.company].name }}</a></h4>
    {% for postings in entry.jobs %}
        <h6><b>{{ postings.post_date | date: "%b %d, %Y" }}</b></h6>
        <ul>
            {% for job in postings.jobs %}
				{% if job.indeed %}
	                <li><a href="https://www.indeed.com/viewjob?jk={{ job.indeed }}">{{ job.title }}</a></li>
				{% else %}
					<li><a href="{{ job.link }}">{{ job.title }}</a></li>
				{% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}
