---
layout: page
title: "Job Postings"
teaser: ""
header:
    image: "logo.png"
    pattern: "header-texture.jpg"
permalink: "/jobs/"
---

<p class="teaser" itemprop="description">
    Last updated {{ 'now' | date: "%b %d, %Y" }} and updated every Thursday.
</p>

{% for entry in site.data.jobs %}
<h3><a href="{{ site.data.companies[entry.company].url }}">{{ site.data.companies[entry.company].name }}</a></h3>
<ul>
    {% for job in entry.jobs %}
    <li><a href="{{ job.link }}">{{ job.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
